@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';

a {
    text-decoration: none;
}

.next-videos {
    margin-left: 1rem;

    @include desktop {
        width: 30%;
    }
}
.next-video {
    display: flex;
    margin-top: .5rem;
    
    
    &__details {
        margin-left: 1rem;
                
    }

    &__video {
        align-items: center;
        cursor: pointer;
        flex-direction: row;
        
    }

        &__thumbnail {
            width: 30%;
            height: 25%;
            border-radius: .25rem;
            align-items: center;
        }
        
        &__title {
                font-size:$sub-header-font-size-M;
                color: $prim-col-Black;
                text-decoration: none;
                line-height:$sub-header-line-height-M;
                font-weight:$header-font-weight;
                margin: 0 0 .3rem 0;
            }

        &__channel {
                font-size:$body-font-size-M;
                margin: 0 0 0 0;
                color: $prim-col-Black;
        }
        
}
