@font-face {
    font-family: 'Avenir Next LT Pro';
    src: url(../../assets/Font/AvenirNextLTPro-Regular.otf) format('otf') local(Avenir Next LT Pro);
    font-weight: 400;
}

@font-face {
    font-family: 'Avenir Next LT Pro';
    src: url(../../assets/Font/AvenirNextLTPro-Demi.otf) format('otf') local(Avenir Next LT Pro Demi);
    font-weight: 600;
}

@font-face {
    font-family: 'Avenir Next LT Pro';
    src: url(../../assets/Font/AvenirNextLTPro-Bold.otf) format('otf') local(Avenir Next LT Pro Bold);
    font-weight: 700;
}