@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';

.video-hero-about {
    margin: 1.25rem 0;
    

    // @include tablet {
    //     border-bottom:$divider;
    // }

    &__title {
        font-size:$page-header-font-size-M;
        line-height: $page-header-line-height-M;
        font-weight: $header-font-weight;
        color:$prim-col-Black;
        margin-bottom: 10px;
        border-bottom:$divider;
        padding-bottom: 1rem;

        @include tablet {
            font-size:$page-header-font-size-DT;
            border-bottom: none;
        }
    }

    &__details {
        display: flex;

        @include tablet {
           justify-content: space-between;
        }

    }

    &__static {
        display: flex;
        flex-direction: column;
        width: 50%;

        @include tablet {
            flex-direction: row;
        }
    }

    &__channel {
        font-size: $sub-header-font-size-M;
        line-height: $sub-header-line-height-M;
        font-weight: 600;
        color: $header-font-color;
        margin: .25rem;

        @include tablet {
            padding-right: 2rem;
        }
    }
    
    &__timestamp {
        font-size:$label-font-size-M;
        font-weight:$label-font-weight;
        color:$prim-col-Silver;
        margin: .25rem;
    }
    
    &__dynamic {
        display:flex;
        flex-direction: column;
        color:$sec-color-Mercury;
        width: 50%;

        @include tablet {
            flex-direction: row;
            justify-content: end;
        }
    }

    &__views {
        font-size:$label-font-size-M;
        font-weight:$label-font-weight;
        color: $label-font-color;
        margin: .25rem;

        @include tablet {
            padding-right: 2rem;
        }
    }

    &__likes {
        font-size:$label-font-size-M;
        font-weight:$label-font-weight;
        color: $label-font-color;
        margin: .25rem;
    }

    &__icons {
        padding-right: .35rem;
        
    }

    &__description {
        font-size:$body-font-size-M;
        color:$prim-col-Black;
        padding: 1rem 0;
        border-top:$divider;
        

        @include tablet {
            font-size:$body-font-size-DT;
        }
    }
}