@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';

.comments {
    // margin: 1rem 0;

    &__comment {
        // margin-top: .5rem;
        border-bottom:$divider;
        padding-top: .2rem;
        padding-bottom: 1.2rem;

        @include tablet {
            padding-right: 1.2rem;
          }
    }

    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__name {
        font-size:$body-font-size-M;
        color:$prim-col-Black;
        font-weight:$header-font-weight;

        @include tablet {
            font-size: $body-font-size-DT;
          }
    }

    &__timestamp {
        font-size:$body-font-size-M;
        color:$sec-color-Mercury;
    }

    &__content {
        font-size:$body-font-size-M;
        color:$body-font-color;
        margin: 0;
        
    }
}