@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';

// .upload-page {
//     padding: 1rem;

//      &__image-and-form {

//         display: flex;


//     @include tablet {
//         flex-direction: row;
//         flex-grow: 1;
//         }
//     }

// .upload-video {
    
//     &__thumbnail {
//         width: 100%;

//         @include tablet {
//             width: 40%;
//         }
//     }
// }

// .upload-form {
//     display: flex;
//     flex-direction: column;
//     align-items: left;
//     margin: auto;
    
//     &__label {
//         font-size: $label-font-size-M;
//         line-height: $label-line-height-M;
//         color: $label-font-color;
    
//         @include tablet {
//             font-size: $label-font-size-DT;
//             line-height: $label-line-height-DT;
//             }
//         }

//     &__textarea {
//         font-size: $body-font-size-M;
//         padding: $form-field-padding-M;
//         min-height: $form-field-MIN-height-M;
//         width: 94%;
//         color: $prim-col-Black;
//         border: $form-field-border;
//         border-radius: $form-field-radius;
//         resize: none;

//         @include tablet {
//             font-size: $body-font-size-DT;
//             width: 90%;
//             padding-left: $form-field-padding-DT;
//             min-height: 2rem;
//             height: 2rem;
//         }

//         &::placeholder {
//             color: $prim-col-Black;
//             padding-left: .5rem;
//         }

//         &::active {
//             border:$form-field-border-active;
//         }
//     }


//     &__button {
//         background-color: $button-background;
//         border-radius: $button-radius;
//         color: $button-font-color;
//         font-size: $button-font-size-M;
//         font-weight: $button-font-weight;
//         height: $button-height;
//         width: $button-width-M;
//         text-align: center;
//         background-image: url(../../assets/Icons/publish.svg);
//         background-repeat: no-repeat;
//         background-position: 5% 50%;
//         border: none;
//         margin-top: $form-field-padding-M;

//         @include tablet {
//             width: 30%;
            
//         }


//         &:hover {
//             background-color: $button-background-hover;
//         }
//     }
// }
// }

.upload {
    padding: 1rem;
}

.upload-page {

     display: flex;
     flex-direction: column;

    @include tablet {
        display: inline-block;
        }

    @include desktop {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        }
   

    &__image {
        @include tablet {
            width: 50%;
            }

        @include desktop {
            width: 40%;
            margin-right: 3rem;
            }
    }

    &__form {
        @include tablet {
            width: 100%;
            }

        @include desktop {
            width: 75%;
            }
    }
}

.upload-video {
    
    &__thumbnail {
        width: 100%;

        @include tablet {
            width: 100%;
        }
    }
}

.upload-form {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: auto;

    @include tablet {
        // width: 30%;
        margin: 0;
        
    }
    
    &__label {
        font-size: $label-font-size-M;
        line-height: $label-line-height-M;
        color: $label-font-color;
    
        @include tablet {
            font-size: $label-font-size-DT;
            line-height: $label-line-height-DT;
            }
        }

    &__textarea {
        font-size: $body-font-size-M;
        padding: $form-field-padding-M;
        min-height: $form-field-MIN-height-M;
        width: 94%;
        color: $prim-col-Black;
        border: $form-field-border;
        border-radius: $form-field-radius;
        resize: none;

        @include tablet {
            font-size: $body-font-size-DT;
            width: 90%;
            padding-left: $form-field-padding-DT;
            min-height: 2rem;
            height: 2rem;
        }

        &::placeholder {
            color: $prim-col-Black;
            padding-left: .5rem;
        }

        &::active {
            border:$form-field-border-active;
        }
    }


    &__button {
        background-color: $button-background;
        border-radius: $button-radius;
        color: $button-font-color;
        font-size: $button-font-size-M;
        font-weight: $button-font-weight;
        height: $button-height;
        width: $button-width-M;
        text-align: center;
        background-image: url(../../assets/Icons/publish.svg);
        background-repeat: no-repeat;
        background-position: 5% 50%;
        border: none;
        margin-top: $form-field-padding-M;




        &:hover {
            background-color: $button-background-hover;
        }
    }
}
