@import './styles/partials/mixins';
@import './styles/partials/variables';
@import './styles/partials/main';

@import './components/aNavbar/Navbar.scss';
@import './components/bHeroVideo/VideoHero.scss';
@import './components/cAboutVideo/VideoHeroAbout.scss';
@import './components/dHeroAddComment/VideoHeroAddComment.scss';
@import './components/eHeroComments/VideoHeroComments.scss';
@import './components/fNextVideosList/VideosNextList.scss';


.VideoHeroAboutCommentsCombo {
    width: 100%;

    @include desktop {
        width: 65%;
    }
}

.VideoSelectAndNextDisplay {
    display: flex;
    flex-direction: column;

    @include desktop {
        flex-direction: row;
    }
}